
.main-expenseItem{
  background-color: black;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  

}
.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:  -3px 8px rgba(40, 49, 45, 0.25);
    padding: 0.5rem;
    margin:20px;
    border-radius: 12px;
    background-color: #6e2828;
   
   

  }
.main-expenseItem h2{
  color:red;
  text-align:center;
}
  .button-expenseItem{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-left:10px;
    
  }
  .button-expenseItem button{
 border-radius:5px;
    width:70px;
    margin-bottom:5px;
    cursor:pointer;
    padding:5px;
   box-shadow: 5px 3px 3px black;
  }
  .deleteButton{
   
    background-color:rgba(12, 112, 158, 0.5);


  }
  
  .updateButton{
   
    background-color:rgba(221, 11, 141, 0.5);
  }

 